<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <article class="panel is-link">
        <p class="panel-heading">
          Home Server
        </p>
        <div class="panel-block">
            <div th:replace="fragments/searcher :: searcher"> </div> 
        </div>
        <p class="panel-tabs">
          <a class="is-active">All</a>
          <a>
            Videos
          </a>
          <a>Musics</a>
          <a>Books</a>
        </p>

        <div th:each="jf : ${jfiles}">
            <a class="panel-block" th:text="${jf.fname}" th:href="${jf.fpath} + '/' + ${jf.fname}">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </article>
    <div th:replace="fragments/footer :: footer"> </div>
</body>
</html>